p, h1, h2, .cv, .topnav {
    font-family: 'Inconsolata', monospace; 
}

.row {
    display: flex;
    overflow: visible;
  }
  .sidetext{
    text-align: l;
}

@media only screen and (max-width:1000px) { 
  .biobox {
    width: 100% !important;

 
  }

.biobox{
  text-align: center;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}}



.topnav {
    background:linear-gradient(to right, #9ed5ff, #7fdaeb, #ffffff);
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: rgb(255, 255, 255);
  }

  .topnav a:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }


  .topnav .icon {
    display: none;
  }


  img {
    display: block;
    width: 40%;
    min-width: 300px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
  }

.content {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: red orange;
  scrollbar-width: thin;
  padding: 25px;
}

.image {
  display: block;
  width: 66%; 
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

